<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
      <span>Hello World, I'm </span>
      <span class="cd-words-wrapper waiting">
        <b class="is-visible">a rubyist</b>
        <b>an university student</b>
        <b>looking for a job.</b>
      </span>
    </h1>
  </div>
</div>

<section class="contact" id="CONTACT">
  <a href="https://github.com/keigo-brook">my github profile</a>
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<div class="contact_title  wow fadeInUp animated">-->
          <!--<h1>Contact me</h1>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-9  wow fadeInRight animated">-->
        <!--<form class="contact-form" action="">-->
          <!--<div class="row">-->
            <!--<div class="col-md-6">-->
              <!--<input type="text" class="form-control" id="name" placeholder="Name">-->
              <!--<input type="email" class="form-control" id="email" placeholder="Email">-->
              <!--<input type="text" class="form-control" id="subject" placeholder="Subject">-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>-->
              <!--<button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<div class="work-with   wow fadeInUp animated">-->
          <!--<h3>looking forward to hearing from you!</h3>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</section>

<div class="form-control"></div>